#events

    .button
        position absolute
        right 15px
        color white
        font-size 37px
        top 0
        cursor pointer
        z-index 3

    h2
        color white !important
        text-transform none !important
        font-size 25px !important
        border-bottom 1px solid #6666
        margin-bottom 20px
    
    p
        line-height 1.7
        margin 20px 0

    p.info
        margin 0 !important

        span.label
            font-size 15px !important
            text-transform uppercase
            color orange !important
            padding-right 10px
            font-weight bold
    
    h3
        color white
        font-weight bold
        margin 30px 0 10px 0
        font-size 20px !important

    ul
        padding-left 23px
        list-style-type square

    li
        font-size 17px
        letter-spacing 0.5px
        color white
        line-height 1.7

        @media only screen and (max-width: 450px)
            font-size 15px